<!DOCTYPE html>
<html>
    <head>
       <title> wesal</title>
        <meta charset="UTF-8">
        
        <style type="text/css">
            p {
                text-align: center;
                direction: rtl;
                
            }
            h1,h3 {
                text-align: center;
            }
            input[type=text] {
    width: 20%;
   padding: 8px 15px;
    box-sizing: border-box;
            }
            input[type=submit], input[type=reset] {
               width: 10%; 
                box-sizing: border-box;
                    
            }
        </style>
    </head>
    
<body>
      <p>  <img  src="w.png" alt="logo"  align="center" width="350"  > </p>
       <h1>  أهلاً.. مرحبًا بك في وصال  </h1>
   
    
    <form action=""  method="post">
     <p>
         الرقم: <input type="text" name="num1" placeholder="ادخل الرقم "></p>
        
        <p><img src="ww.jpg" alt="whatsApp" width="80"><input type="checkbox" name="whatsApp">
        <img src="tt.jpg" alt="telegram" width="65"> <input type="checkbox" name="telegram">
        <img src="s.jpg" alt="SMS" width="80"> <input type="checkbox" name="SMS"></p>
        
        <p >
    <input  type="submit" value="حفظ">
   <input  type="reset" value="مسح ">
        </p>
        <p><button id="add" onclick= "additem" > اضافة رقم +</button></p>
    </form>
    </body>
</html>