<html>
  <head>

    {{>head}}


    <link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
    
    <title>Wesal Website</title>
  </head>
  
  <body>

    <div class="">
      <div class="row">
        <img src="img/wesal%20logo.jpg" class="center-block imge" style="width:200px margin-top:-10px">
      </div>
      
      <div class="row">
        <h1 class="text-center">أهلاً.. مرحبًا بك في وصال</h1>
      </div>
      
        <h2 class="text-center ">
            ما هي وصال؟
        </h2>
      <p class="text-center">
        وصال عبارة عن خدمة تتيح لك ارسال و استقبال الرسائل عن طريق تطبيقات التواصل الإجتماعي<br>
        
        مثل الواتساب والتيليجرام أو عن طريق الرسائل النصية القصيرة sms ، و البريد الإلكتروني.
      </p>
      <div class="login_wrapper">
        
        <form class="form " action="/process"  method="post">
          <h1 class="text-center">{{title}}</h1>
          <label>Email:</label>
          <input type="text" class="form-control" id="usr" name='email' placeholder="Email">
          <br>
          <button id="form_table" class="btn btn-primary center-block">Subscribe!</button> 
        </form>
        
      </div>
    </div>
    
  </body>
</html>
<script>
if (navigator.userAgent.match(/iPhone/i)) {

        //cache the viewport tag if the user is using an iPhone
        var $viewport = $('head').children('meta[name="viewport"]');

        //bind an event handler to the window object for the orientationchange event
        $(window).bind('orientationchange', function() {
            if (window.orientation == 90 || window.orientation == -90 || window.orientation == 270) {

                //landscape
                $viewport.attr('content', 'height=device-width,width=device-height,initial-scale=1.0,maximum-scale=1.0');
            } else {

                //portrait
                $viewport.attr('content', 'height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0');
            }

        //trigger an orientationchange event on the window object to initialize this code (basically in-case the user opens the page in landscape mode)
        }).trigger('orientationchange');
    }


</script>
<style>
  *{
    font-family:Harmattan;
  }
  .imge{
    width:200px;
  }
  .login_wrapper {
    right: 0px;
    margin: 0px auto;
    margin-top: 5%;
    max-width: 350px;
    position: relative
}

</style>