<html>
  <head>
    {{>head}}
    
    <meta name="viewport" content="width=device-width, initial-scale=2.0">

    <meta name="HandheldFriendly" content="true" />

    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
    
    <title>Wesal Website</title>
  </head>
  
  <body>
          <img src="img/wesal%20logo.jpg" class="img-responsive center-block" style="width:280px margin-top:-10px">
    <div class="container">
      
      <h1 class="text-center">أهلاً.. مرحبًا بك في وصال</h1>
      <h2 class="text-center ">
            ما هي وصال؟
      </h2>
      <p class="text-center">
        وصال عبارة عن خدمة تتيح لك ارسال و استقبال الرسائل عن طريق تطبيقات التواصل الإجتماعي<br>
        
        مثل الواتساب والتيليجرام أو عن طريق الرسائل النصية القصيرة sms ، و البريد الإلكتروني.
      </p>
      
      <form class="form" action="/process"  method="post">
        <h1 class="text-center">{{title}}</h1>
      <label for="usr">Email:</label>
      <input type="text" class="form-control" id="usr" name='email' placeholder="Email">
        <br>
                <button id="form_table" class="btn btn-primary center-block">Subscribe!</button> 
      <div class="col-md-12 text-center"> 

      </div>
        
      </form>
    </div>
    <script>
    </script>
  </body>
</html>

<style>
  * {
    font-family:Harmattan;
  }


</style>