<html>
  <head>
    {{>head}}
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <meta name="HandheldFriendly" content="true" />

    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
    
    <title>Wesal Website</title>
  </head>
  
  <body>
    
    <div class="container">
      <img src="img/wesal%20logo.jpg" class="img-responsive center-block" style="width:300px">
      
      <h1 class="text-center">أهلاً.. مرحبًا بك في وصال</h1>
      <p class="text-center">
      
      
      </p>
      <form class="form" action="/process"  method="post">
      <label for="usr">Email:</label>
      <input type="text" class="form-control" id="usr" name='email' placeholder="Email">
        <br>
                <button id="form_table" class="btn btn-primary center-block">Subscribe!</button> 
      <div class="col-md-12 text-center"> 

      </div>
        
      </form>
    </div>
    <script>
    </script>
  </body>
</html>