<html>
  <head>
    {{>head}}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
    
    <title>Wesal Website</title>
  </head>
  
  <body>

    <h1>
    sapijdasjd'aijs
    </h1>
    
  </body>
</html>

<style>
  * {
    font-family:Harmattan;
  }
  .imge{
    width:200px;
  }
  .login_wrapper {
    right: 0px;
    margin: 0px auto;
    margin-top: 5%;
    max-width: 350px;
    position: relative
}
  html, body {
     margin:0; /* remove default margin */
     padding:0; /* remove default padding */
}

</style>