
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>بنود الخدمة وسياسة الخصوصية</title>
	</head>
<img align="middle" height="200" width="200" margin-top="-10px"  src="images/wesal%20logo.jpg" >

      <h1 align="center">بنود الخدمة وسياسة الخصوصية</h1>
		<p  align="center">

    بتصفح هذا الموقع، أنت تقر بأنك قد قرأت وفهمت ما يلي من شروط الاستخدام وسياسة الخصوصية في مجملها،
    بما في ذلك أي تحديثات قد تُنشر على الموقع من وقت لآخر.
   تحتفظ مجموعة وصال بحقها في مراجعة شروط الاستخدام وسياسة الخصوصية بتحديث هذا المنشور، حسبما يتراءى لها.
   مشاركة معلوماتك:
  لا تقوم مجموعة وصال بمشاركة أي معلومات عنك إلا بعد مراسلتك و تستخدم تقنيات عالية للحفاظ عليها
  رسائل بريد إلكتروني إخبارية:
   تُقدِّم مجموعة وصال العديد من نشرات البريد الإلكتروني. 
  وسوف تتلقى هذه النشرات فقط إذا كنت قد اخترت في السابق الاشتراك في هذه الأنواع من المراسلات. 
  وإذا لم تعد ترغب في تلقي نشرة معينة، فاتبع تعليمات “إلغاء الاشتراك” الموجودة بالقرب من أسفل كل نشرة أو من خلال الموقع الرئيسي 
  باختيار إلغاء الاشتراك .</p>

      </div>
</html>